<form [formGroup]="complexForm" (ngSubmit)="onSubmit()" novalidate>
<div formGroupName="nameGroup">
  <div>First name:</div>
  <div>
    <input type="text" formControlName="firstName" required>
    <div *ngIf="formErrors.nameGroup.firstName">{{formErrors.nameGroup.firstName}}</div>
  </div>
  <div>Last name:</div>
  <div>
    <input type="text" formControlName="lastName" required>
    <div *ngIf="formErrors.nameGroup.lastName">{{formErrors.nameGroup.lastName}}</div>
  </div>
</div>
<div>Grade:</div>
  <div>
                    <select formControlName="grade">
                      <option *ngFor="let gradeOption of gradeOptionArray">{{gradeOption}}</option>
                    </select>
</div>
<div style="margin-top: 0.5rem;">
<button type="submit" [disabled]="!complexForm.valid">Submit</button>
</div>

</form>
