<app-student-dashboard></app-student-dashboard>
<div style="clear: both;">
<table class="hoverTable">
  <thead>
  <tr>
    <td>First name</td>
    <td>Last name</td>
    <td>Grade</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of studentArray; let i = index" (click)="rowOnClick(i)" [class.selected]="i == selectedRowIndex">
    <td>{{student.firstName}}</td>
    <td>{{student.lastName}}</td>
    <td>{{student.grade}}</td>
  </tr>
  </tbody>
</table>
</div>  
<div style="margin-top: 0.5rem;">
<button (click)="onAddStudent()" class="btn btn-primary btn-sm">Add Student</button>
<button (click)="onModifyStudent()" [disabled]="modifyAndDeleteButtonsDisable" class="btn btn-primary btn-sm">Modify Student</button>
<button (click)="onDeleteStudent()" [disabled]="modifyAndDeleteButtonsDisable" class="btn btn-primary btn-sm">Delete Student</button>
<button (click)="onManageNotes()" [disabled]="modifyAndDeleteButtonsDisable" class="btn btn-primary btn-sm">Manage Notes</button>
</div>