<table class="hoverTable">
  <thead>
  <tr>
    <td>First name</td>
    <td>Last name</td>
    <td>Grade</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of studentArray; let i = index" (click)="rowOnClick(i)" [class.selected]="i == selectedRowIndex">
    <td>{{student.firstName}}</td>
    <td>{{student.lastName}}</td>
    <td>{{student.grade}}</td>
  </tr>
  </tbody>
</table>
<div style="margin-top: 0.5rem;">
<button (click)="onAddStudent()">Add Student</button>
<button (click)="onModifyStudent()" [disabled]="modifyAndDeleteButtonsDisable">Modify Student</button>
<button (click)="onDeleteStudent()" [disabled]="modifyAndDeleteButtonsDisable">Delete Student</button>
<button (click)="onManageNotes()" [disabled]="modifyAndDeleteButtonsDisable">Manage Notes</button>
</div>