<!--<ul>
  <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
  <li><a routerLink="/print" routerLinkActive="active">Print</a></li>
  <li><a routerLink="/about" routerLinkActive="active">About</a></li>
  <li><a routerLink="/contact-us"routerLinkActive="active">Contact Us</a></li>
  <li *ngIf="user != null"><a routerLink="/login"routerLinkActive="active">Logout</a></li>
</ul>-->

<!--<div class="container-fluid pl-0 pr-0">
  <div class="card" >
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/print" routerLinkActive="active">Print</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us"routerLinkActive="active">Contact Us</a>
        </li>
        <li *ngIf="user != null" class="nav-item">
          <a class="nav-link" routerLink="/login"routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>-->



<div class="container-fluid pl-0 pr-0">
<nav class="navbar navbar-default navbar-expand-md navbar-light bg-faded">

<!-- <a class="navbar-brand">Student Notes<span *ngIf="userPreference != null"> ({{userPreference.schoolYear.schoolYear}})</span></a> -->
<a class="navbar-brand">Student Notes<span *ngIf="userPreference != null"> ({{userPreference.schoolYear.schoolYear}})</span></a>

  <ul class="nav navbar-nav">
    <li *ngIf="user != null" class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li *ngIf="user != null" class="nav-item">
      <a class="nav-link" routerLink="/print" routerLinkActive="active">Print</a>
    </li>
    <li *ngIf="user != null" class="nav-item">
      <a class="nav-link" routerLink="/schoolYearCrud" routerLinkActive="active">SchoolYearCrud</a>
    </li>
    <li *ngIf="user != null" class="nav-item">
      <a class="nav-link" routerLink="/schoolYearSelect" routerLinkActive="active">SchoolYearSelect</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
    </li>
    <li *ngIf="user != null" class="nav-item">
      <a class="nav-link navbar-right" routerLink="/login" routerLinkActive="active">Logout</a>
    </li>
  </ul>
</nav>
</div>
