<ul>
  <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
  <!--<li><a [routerLink]="['/pdf']">PDF</a></li>-->
  <li><a href="http://localhost:8080/StudentNotesService/pdfAll" target="_blank" >Print</a></li>
  <li><a routerLink="/about" routerLinkActive="active">About</a></li>
  <li><a routerLink="/contact-us"routerLinkActive="active">Contact Us</a></li>
  <li *ngIf="user != null"><a routerLink="/login"routerLinkActive="active">Logout</a></li>
</ul>
