<h4>Student Notes Application</h4>
<ul>
  <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
  <!--<li><a [routerLink]="['/pdf']">PDF</a></li>-->
  <li><a href="http://localhost:8080/StudentNotesService/pdfAll" target="_blank" >Print</a></li>
  <li><a routerLink="/about" routerLinkActive="active">About</a></li>
  <li><a routerLink="/contact-us"routerLinkActive="active">Contact Us</a></li>
</ul>
<div style="margin-top: 0.5rem;">
<router-outlet></router-outlet>
</div>
<div style="margin-top: 1rem; text-align: center"><small style="color: darkgrey">&copy; Copyright 2017 Kernel Development &amp; Consulting</small></div>
