<div style="margin-top: 0.5rem;">{{student.firstName}} {{student.lastName}}, {{student.grade}}</div>
<h4>{{crudMode}} Note</h4>

<form [formGroup]="noteForm" (ngSubmit)="onSubmit()" novalidate>

<div class="table">
  <div class="row">
    <div class="cell">Date and Time:</div>
    <div class="cell">
      <input type="text" formControlName="timestamp" (blur)="timestampBlur = true" (focus)="timestampBlur = false">
      <span *ngIf="noteForm.controls.timestamp.invalid && noteForm.controls.timestamp.dirty && timestampBlur">Invalid date and time</span>
    </div>
  </div>
  <div class="row">
    <div class="cell">Note:</div>
    <div class="cell"><textarea formControlName="text" rows="4" cols="50"></textarea>
    </div>
  </div>
</div>

<div style="margin-top: 0.5rem;">
<button type="submit" [disabled]="!noteForm.valid && crudMode != 'Delete'">Submit</button>
<button type="button" (click)="onCancel()">Cancel</button>
</div>

</form>


