<div style="margin-top: 0.5rem;">{{student.firstName}} {{student.lastName}}, {{student.gradeUiDto.grade}}</div>
<h4>{{crudMode}} Note</h4>


<p-calendar [(ngModel)]="timestamp2" [defaultDate]="timestamp2" showTime="showTime" hourFormat="12" dateFormat="M d, yy"></p-calendar>

<form [formGroup]="noteForm" (ngSubmit)="onSubmit()" novalidate>

  <!-- <p-calendar formControlName="timestamp2" dateFormat="dd.mm.yy"></p-calendar> -->

<div class="table">
  <div class="form-group">
    <label for="timestamp">Date and Time:</label>
    <input type="text" class="form-control form-control-sm" formControlName="timestamp" (blur)="timestampBlur = true" (focus)="timestampBlur = false" id="timestamp">
    <span *ngIf="noteForm.controls.timestamp.invalid && noteForm.controls.timestamp.dirty && timestampBlur">Invalid date and time</span>
  </div>
  <div class="form-group">
    <label for="note">Note:</label>
    <textarea class="form-control form-control-sm" formControlName="text" rows="10" cols="50" for="note"></textarea>
  </div>
</div>

<div style="margin-top: 0.5rem;">
<button pButton type="submit" label="Submit" [disabled]="!noteForm.valid && crudMode != 'Delete'"></button>
<button pButton type="button" (click)="onCancel()" label="Cancel"></button>
</div>

</form>


