<div>
    <h4>Login</h4>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="ui-g">
            <div class="ui-g-1"><label for="username">Username</label></div>
            <div class="ui-g-11"><input type="text" pInputText name="username" [(ngModel)]="model.username" #username="ngModel" required id="username">
                <div *ngIf="f.submitted && !username.valid">Username is required</div>
            </div>
            <div class="ui-g-1"><label for="password">Password</label></div>
            <div class="ui-g-11"><input type="password" pPassword name="password" [(ngModel)]="model.password" #password="ngModel" required id="password"/>
                <div *ngIf="f.submitted && !password.valid">Password is required</div>
            </div>
        </div>
        <div class="ui-g">
            <button pButton type="submit" label="Login" [disabled]="loading"></button>
        </div>
    </form>
</div>