<div class="container-fluid">
    <form name="form" (ngSubmit)="login()" #loginForm="ngForm" novalidate>
        <h4>Login</h4>
        <div class="ui-g">
            <div class="ui-g-1">
                <label for="username">Username</label>
            </div>
            <div class="ui-g-11">
                <input type="text" pInputText name="username" [(ngModel)]="model.username" #username="ngModel"
                    required id="username" #spy>
                <br>TODO: remove this: {{spy.className}}
                <div [hidden]="username.valid || username.pristine">Username is required</div>
            </div>
            <div class="ui-g-1">
                <label for="password">Password</label>
            </div>
            <div class="ui-g-11">
                <input type="password" pPassword name="password" [(ngModel)]="model.password" #password="ngModel"
                    required id="password"/>
                <div [hidden]="password.valid || password.pristine">Password is required</div>
            </div>
        </div>
        <div class="ui-g">
            <button pButton type="submit" label="Login" [disabled]="!loginForm.form.valid"></button>
        </div>
    </form>
</div>