<div class="container-fluid">

<ngb-tabset>

  <!--print all tab-->
  <ngb-tab title="All">
    <template ngbTabContent>
      <button (click)="onDownloadAllPdf()" class="btn btn-primary btn-sm mt-2">Print</button>
    </template>
  </ngb-tab>

  <!--print by date range tab-->
  <ngb-tab title="Date Range">
    <template ngbTabContent>

      <form class="form-inline mt-2">

        <div class="form-group">
          <div class="input-group">
            <label for="fromTimestamp">From</label>
            <input class="form-control ml-2" placeholder="yyyy-mm-dd"
              name="fromTimestamp" [(ngModel)]="fromTimestamp" ngbDatepicker #d1="ngbDatepicker" id="fromTimestamp">
            <div class="input-group-addon" (click)="d1.toggle()" >
              <img src="assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </div>
          </div>
        </div>

        <div class="form-group ml-4">
          <div class="input-group">
            <label for="toTimestamp">To</label>
            <input class="form-control ml-2" placeholder="yyyy-mm-dd"
              name="toTimestamp" [(ngModel)]="toTimestamp" ngbDatepicker #d2="ngbDatepicker" id="toTimestamp">
            <div class="input-group-addon" (click)="d2.toggle()" >
              <img src="assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </div>
          </div>
        </div>

      </form>

      <button (click)="onDownloadDateRangePdf()" class="btn btn-primary btn-sm mt-2"
        [disabled]="fromTimestamp == null || toTimestamp == null">Print</button>

      <pre>Model: {{ fromTimestamp | json }}</pre>
      <pre>Model: {{ toTimestamp | json }}</pre>

    </template>
  </ngb-tab>

  <!--print by student selection-->
  <ngb-tab title="Student Select">
    <template ngbTabContent>

      <table class="table table-striped table-sm mt-2 my-table-nonfluid">
      <thead>
      <tr>
      <th></th>
      <th>Header 2</th>
      <th>Header 3</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td>
        <div class="form-check">
        <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="1" (change)="onCheckboxChange($event)">
        </label>
        </div>
      </td>
      <td>Cell</td>
      <td>Cell</td>
      </tr>
      <tr>
      <td>
        <div class="form-check">
        <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="2" (change)="onCheckboxChange($event)">
        </label>
        </div>
      </td>
      <td>Cell</td>
      <td>Cell</td>
      </tr>
      <tr>
      <td>
        <div class="form-check">
        <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="3" (change)="onCheckboxChange($event)">
        </label>
        </div>
      </td>
      <td>Cell</td>
      <td>Cell</td>
      </tr>
      </tbody>
      </table>

      <pre>Model: {{ studentIds | json }}</pre>

    </template>
  </ngb-tab>

</ngb-tabset>
</div>
