/* You can add global styles to this file, and also import other style files */
/*
p {
    text-indent: 1rem;
}
h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: darkslategray;
}
table {
    border-collapse: collapse;
}
.hoverTable table, tr, td {
    border: 0.1rem solid lightgray;
}
.hoverTable tr {
    background-color: #f2f2f2;
}
.hoverTable tbody>tr:hover:not(.selected) {
    background-color: #ffff99;
  cursor: pointer;
  cursor: hand;
}
.hoverTable tr.selected {
    color: white;
    background-color: lightblue;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #ffff99;
}

.table {display: table; }
.row { display: table-row;}
.cell {display: table-cell; padding: 0.1rem; vertical-align: middle;}

textarea { font-family: inherit; font-size: inherit; }
*/

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
