/* You can add global styles to this file, and also import other style files */
/*p {
    text-indent: 1rem;
}
h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: darkslategray;
}*/
table {
    border-collapse: collapse;
}
.hoverTable table, tr, td {
    border: 0.1rem solid lightgray;
}
.hoverTable tr {
    background-color: #f2f2f2;
}
.hoverTable tbody>tr:hover:not(.selected) {
    background-color: #ffff99;
  cursor: pointer;
  cursor: hand;
}
.hoverTable tr.selected {
    color: white;
    background-color: lightblue;
}

/*button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #ffff99;
}*/

/*.table {display: table; }
.row { display: table-row;}
.cell {display: table-cell; padding: 0.1rem; vertical-align: middle;}*/

.my-table-nonfluid {
   width: auto !important;
}

/* textarea { font-family: inherit; font-size: inherit; } */

/* .ui-menuitem-link.ui-corner-all.ui-state-active {
    background: none;
} */

/* .ui-menu .ui-state-active {
    color: #186ba0 !important;
    background: none !important;
} */
.ui-menu.ui-widget {
    /* color: blue !important; */
    border: none;
    background: none;
}
/* Used by menu bar text to the left */
.ui-menubar .ui-menuitem.ui-menuitem-custom {
    color: black;
    float: left !important;
    margin-top: .125em !important;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.2em;
}