<!--<div style="margin-top: 0.5rem; margin-bottom: 0.5rem;">{{student.firstName}} {{student.lastName}}, {{student.grade}}</div>-->
<h4>{{student.firstName}} {{student.lastName}}, {{student.grade}}</h4>
<table class="hoverTable">
  <thead>
  <tr>
    <td>Date&nbsp;&amp;&nbsp;Time</td>
    <td>Notes</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let note of student.noteList; let i = index" (click)="rowOnClick(i)" [class.selected]="i == selectedRowIndex">
    <td style="white-space: nowrap">{{note.timestamp | date: 'MMM dd, yyyy hh:mm a'}}</td>
    <td>{{note.text}}</td>
  </tr>
  </tbody>
</table>
<div style="margin-top: 0.5rem;">
<button pButton type="button" (click)="onAddNote()" label="Add Note"></button>
<button pButton type="button" (click)="onModifyNote()" label="Modify Note" [disabled]="modifyAndDeleteButtonsDisable"></button>
<button pButton type="button" (click)="onDeleteNote()" label="Delete Note" [disabled]="modifyAndDeleteButtonsDisable"></button>
</div>
