<!--<div style="margin-top: 0.5rem; margin-bottom: 0.5rem;">{{student.firstName}} {{student.lastName}}, {{student.grade}}</div>-->
<h4>{{student.firstName}} {{student.lastName}}, {{student.grade}}</h4>
<table class="hoverTable">
  <thead>
  <tr>
    <td>Date&nbsp;&amp;&nbsp;Time</td>
    <td>Notes</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let note of student.noteList; let i = index" (click)="rowOnClick(i)" [class.selected]="i == selectedRowIndex">
    <td style="white-space: nowrap">{{note.timestamp | date: 'MMM dd, yyyy hh:mm a'}}</td>
    <td>{{note.text}}</td>
  </tr>
  </tbody>
</table>
<div style="margin-top: 0.5rem;">
<button (click)="onAddNote()" class="btn btn-primary btn-sm" >Add Note</button>
<button (click)="onModifyNote()" class="btn btn-primary btn-sm" [disabled]="modifyAndDeleteButtonsDisable">Modify Note</button>
<button (click)="onDeleteNote()" class="btn btn-primary btn-sm" [disabled]="modifyAndDeleteButtonsDisable">Delete Note</button>
</div>
